:root {
    --bgcolor: #efeeea;
    --bgsub: #f8f8f8;
    --bgsub2: #eddbd2;
    --white: #ffffff;
    --design: #f79824;
    --tech: #e13009;
    --daily: #48a9a6;
    --textmain: #39536e;
    --textsub: #99adc1;
    --textbrown: #77625c;
    --textorange: #b85472;
}
