:root {
    --bg-color: #efeeea;
    --bg-sub: #f8f8f8;
    --bg-warm: #eddbd2;
    --bg-code: #1e1e1e;
    --white: #ffffff;
    --design: #f79824;
    --tech: #e13009;
    --daily: #48a9a6;
    --text-main: #39536e;
    --text-sub: #99adc1;
    --text-brown: #77625c;
    --text-orange: #b85472;
}
