---
import TableOfContents from "@/components/TableOfContents.astro"
import { SITE_TITLE } from "@/constants/metadata.ts"
import { getCategories } from "@/libraries/microcms"

type Props = {
    currentPage?: string
    contents?: string
}

const { currentPage, contents } = Astro.props

const categories = await getCategories()
---

<header class="c-header l-header">
    <button
        type="button"
        id="hamburger"
        class="c-header__hamburger"
        aria-expand="false"
        aria-controls="menu"
        aria-label="メニュー"
    >
        <span class="c-header__hamburgerText" aria-hidden="true">メニュー</span>
    </button>

    <div class="c-header__contents">
        <div class="c-header__navigation">
            <div class="c-header__logo">{SITE_TITLE}</div>
            <a href="/" class={`c-header__link ` + (currentPage === "home" ? "is-current" : "")}> Home </a>
            {
                categories.map((category) => (
                    <a
                        href={`/${category.id}`}
                        class={`c-header__link ` + (currentPage === category.id ? "is-current" : "")}
                    >
                        {category.name}
                    </a>
                ))
            }
        </div>

        {currentPage === "blog" && contents && <TableOfContents contents={contents} />}
    </div>
</header>

<script>
    const hamburger = document.querySelector("#hamburger")
    hamburger?.addEventListener("click", () => {
        hamburger.classList.toggle("is-active")
    })
</script>
